<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Template</title>

</head>

<body style="background-image: url(https://static.csivit.com/ccs/email/background.png);
    background-repeat: no-repeat; width: 375px; height: 655px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: Monteserrat, Arial, sans-serif;">
        <div>
        <img src="https://static.csivit.com/ccs/email/logo.png">
        </div>

        <h1 style="
             font-size: 1.75rem;
             font-weight: bold;
             color: #2222b2;
             margin-left: auto;
             margin-right: auto;">
            Verify Your Email
        </h1>
        <hr>
        <div style="
                background-color: grey;
                margin-left: auto;
                margin-right: auto;">
        </div>

        <h7 style="font-size: 1.066rem;">
            <br>
            Hello {{name}}. Please verify your email to secure your account.
        </h7>
        <br>

        <button style="background-color:#2222b2;
            color: white;"
            onclick="window.location.href='{{verifyLink}}'">
            VERIFY NOW
        </button>

        <div style="font-size: 0.78125rem;
                margin-left: auto;
                margin-right: auto;
                margin-top: 2%;">
            Or paste this link into your browser.
        </div>

        <a style="
            font-family: Arial;
            font-size: 0.78125rem;
            margin-left: auto;
            margin-right: auto;"
            
            href={{verifyLink}}>
            {{verifyLink}}
        </a>


        <div style="font-size:  0.78125rem;">
            If this wasn't you, please <a href="">click here.</a>
            <br>
        </div>
        <br>

        <div style="
            background-color: grey;
            margin-left: auto;
            margin-right: auto;">
        </div>
        <br>


        <div><img src="https://static.csivit.com/ccs/email/CSIDark.png" style=""></div>
        <br>

        <span id="follow">
            Follow us
            <img src="https://static.csivit.com/ccs/email/instagram-brands.png">
            <img src="https://static.csivit.com/ccs/email/facebook-brands.png">
            <img src="https://static.csivit.com/ccs/email/twitter-brands.png">
        </span>

        <br>
        <br>

        <div style="
            background-color: grey;
            margin-left: auto;
            margin-right: auto;">
        </div>

        <br>

        <div style="font-size: 0.625rem;">This email was sent by CSI-VIT<br> </div>
</body>

</html>
